
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <title>Play PIG</title>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <meta name="description" content="A family dice game of high-risk and high-reward!">
  <link rel="stylesheet" type="text/css" href="./style/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./style/pigStyle.css">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index.html">Play PIG!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="index.html">Background</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="objective.html">Objective</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="strategies.html">Strategies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="howToPlay.html">How To Play</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="controls.html">Game Menu</a>
          </li>

      </div>

  </header>

  <main class="flex-shrink-0">
    <div class="row">
      <div class="flex-column">
        <h1 class="mt-5">Game Menu</h1>

        <div class="row">
          <div class="column">
            <h3>Menu Bar </h3>
            The menu bar enables the player to manipulate the game settings. Press and hold 'Alt + HOTKEY' to use the menu with the keyboard.
          </div>
        </div>
        <div class="row">
          <img src="../images/topMenuBar.PNG">  
        </div>

        <div class="row">
          <div class="column">
            <h3>Game Submenu </h3>
            Allows the player to exit the game. The player may use the Hotkey 'Ctrl + X' at any time within the game to quit. 
          </div>
        </div>
        <div class="row">
          <img src="../images/GameDropDownMenu.PNG">  
        </div>

        <div class="row">
          <div class="column">
            <h3>Strategy Submenu </h3>
            Allows the player to pick the strategy the computer will ise while playing it's turn. Use the hotKeys at any time during the game to change the current strategy. 
          </div>
        </div>
        <div class="row">
          <img src="../images/StrategyDropDownMenu.PNG">  
        </div>

<hr> 

  </main>
</body>

</html>
