<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <title>Play PIG</title>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <meta name="description" content="A family dice game of high-risk and high-reward!">
  <link rel="stylesheet" type="text/css" href="./style/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./style/pigStyle.css">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index.html">Play PIG!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="index.html">Background</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="objective.html">Objective</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="strategies.html">Strategies</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="howToPlay.html">How To Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="controls.html">Game Menu</a>
          </li>
      </div>

  </header>

  <main class="flex-shrink-0">
    <div class="row">
      <div class="flex-column">
        <h1 class="mt-5">How to play PIG:</h1>

        <div class="row">
          <div class="column">
            <h3>Items needed to play: </h3>
            <ul>
              <li>1 six-sided die (oft. called a D6)</li>
              <li>Paper and pen for keeping the score/tally</li>
              <li>2 or more players</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h3>Instructions:</h3>
            <ul>
              <li>Roll to see who goes first (highest usually goes first)</li>
              <li>The First player rolls the die, If the player rolls a 2,3,4,5, or 6, they write down the number on
                their piece of paper. </li>
              <li>as long as the player does not roll a 1, the player may continue rolling to increase their score and
                continue adding points. The player may pass the die to the next player at any time to lock in their
                score.</li>

              <li>If the player rolls a 1 at any time, their turn is automatically over and they receive no points for
                that turn.</li>
              <li>The die continues being passed around until a player reaches or surpasses the point goal (usually 100
                points)</li>

            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="column">
            <h3>Alternative PIG game variants:</h3>

            <div class="row">
              <div class="column">
                <h4>Two Dice Pig</h4>
                When a player rolls two dice and one of the dies is a 1, he loses the points just for that turn. If he
                rolls double 1s, he loses his total score!
              </div>
            </div>

            <div class="row">
              <div class="column">
                <h4>Big Pig</h4>
                When a player rolls two dice and one of the dies is a 1, he loses the points just for that turn. If he
                rolls double 1s, he adds 25 to his score, but must roll again!
              </div>
            </div>


            <div class="row">
              <div class="column">
                <h4>Big Pig Variation</h4>
                When a player rolls two dice and one of the dies is a 1, he loses the points just for that turn. If he
                rolls double 1s, he adds 25 to his score. If he rolls any other doubles, he adds a double score to his
                total. For example, double 3s would score 12 (because you are doubling 3+3). After rolling a double, the
                player must roll again.
              </div>
            </div>

            <div class="row">
              <div class="column">
                <h4>Sixes Pig</h4>
                May be played with 1 or 2 dice, as above, but with six as the turn-ending number, instead of 1. Of
                course, players can choose to substitute any number for 1, as they wish.
              </div>
            </div>

            <div class="row">
              <div class="column">
                <h4>Hog</h4>
                Played as above, but with any number of dice!
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="column">
          <h3>Resources:</h3>
          <ul>
            <li>
              <a
                href="https://www.whatdowedoallday.com/pig-dice-game/" target="_blank">https://www.whatdowedoallday.com/pig-dice-game/</a>
            </li>
            <li><a href="https://www.youtube.com/watch?v=gMFMpC3mC_0" target="_blank">https://www.youtube.com/watch?v=gMFMpC3mC_0</a>
            </li>
            <li><a
                href="https://www.dicegamedepot.com/dice-n-games-blog/pig-dice-game-rules/" target="_blank">https://www.dicegamedepot.com/dice-n-games-blog/pig-dice-game-rules/</a>
            </li>
            <li> <a href="http://cs.gettysburg.edu/projects/pig/piggame.html" target="_blank">
                http://cs.gettysburg.edu/projects/pig/piggame.html</a> </li>
          </ul>
        </div>
      </div>

    </div>
    </div>
  </main>
</body>

</html>