<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <title>Play PIG</title>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <meta name="description" content="A family dice game of high-risk and high-reward!">
  <link rel="stylesheet" type="text/css" href="./style/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./style/pigStyle.css">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index.html">Play PIG!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Background</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="objective.html">Objective</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="strategies.html">Strategies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="howToPlay.html">How To Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="controls.html">Game Menu</a>
          </li>

      </div>

  </header>

  <main>
    <!doctype html>
    <html lang="en">

    <main class="flex-shrink-0">
      <div class="container">

        <div class="jumbotron jumbotron-fluid ">
          <div class="container">
            <h1 class="display-4">Play Pig! </h1>

            <br>
            <p class="lead"> A game of chance where you must balance being <b>bold</b> vs. <b>greedy</b> </p>
          </div>
        </div>



        <div class="row">
          <div class="flex-column title">
            <h1 class="mt-5">A little insight into the game: </h1>
            Pig is a class of game often referred to as a jeopardy game; that is, you will have to make decisions that
            could cost you everything or might win you big. It requires a balance between getting the most points
            without losing ground, and without falling hopelessly behind your competitors. This is a great game to pass
            the time and, because it only requires only one set of Dice, making it a ton of fun for its highly portable
            and fun nature. There are several variations, so please head over to the "How to Play" section to learn more
          </div>
        </div>





    </main>
</body>

</html>