<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <title>Play PIG</title>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <meta name="description" content="A family dice game of high-risk and high-reward!">
  <link rel="stylesheet" type="text/css" href="./style/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./style/pigStyle.css">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index.html">Play PIG!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="index.html">Background</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="objective.html">Objective</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="strategies.html">Strategies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="howToPlay.html">How To Play</a>
          </li>

      </div>

  </header>

  <main class="flex-shrink-0">
    <div class="row">
      <div class="flex-column title">
        <h1 class="mt-5">Primary Objective of PIG</h1>
        <b>The objective of this game is simple: </b> Be the first player to attain the desired score. <p> <p>
          To achieve the desired score, players take turns rolling one or more dice, adding up the numbers on their faces.<br>
           Each Player's turn consists of making a choice; that is, roll again to try for a higher score or pass the die and take the points already achieved. <p> You might think this sounds simple enough, and it is, but there are a few rules that force you to take turns,
          test your daring, and change up strategies. To learn how to play, please take a look at the instructions
          available in the
          <i>How to Play</i> section above.
      </div>
    </div>
  </main>

</body>

</html>