<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <title>Play PIG</title>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
  <meta name="description" content="A family dice game of high-risk and high-reward!">
  <link rel="stylesheet" type="text/css" href="./style/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="./style/pigStyle.css">
</head>

<body class="d-flex flex-column h-100">
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="index.html">Play PIG!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="index.html">Background</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="objective.html">Objective</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="strategies.html">Strategies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="howToPlay.html">How To Play</a>
          </li>

      </div>

  </header>

  <main class="flex-shrink-0">
    <div class="row">
      <div class="flex-column">
        <h1 class="mt-5">Strategies often seen within the game:</h1>

        <div class="row">
          <div class="column">
            <h3>Early Lead </h3>
            The "Early Lead" strategy is the "hail mary" power play where a player will take large risks early on to
            pull
            out a solid lead amongst the other opponents. Generally considered very high risk, but can push other
            players
            who are risk-averse to make mistakes.
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h3>Pickup The Smalls</h3>
            The "Pickup the Smalls" strategy is the safest and most conservative strategy where a person only attempts
            to
            pickup the minimum
            amount of points to stay competitive.
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h3>Alternate Risk </h3>
            This strategy is a systematic alteration between low risk/conservative plays where a person gets a
            sufficient
            number of points to stay relevant, on one turn, but increases risk and extends themselves on the next turn
            to
            attempt to pull away from the other competitors.
          </div>
        </div>


        <div class="row">
          <div class="column">
            The Set number of throws strategy is quite simple. A person decides on a number they are comfortable
            throwing per turn and stops there. (provided they don't get the forbidden turn-ending number, of course)
          </div>
        </div>

      </div>
    </div>
  </main>
</body>

</html>